USE [master]
GO
/****** Object:  Database [UsersAndAwardsDb]    Script Date: 07.07.2021 21:57:26 ******/
CREATE DATABASE [UsersAndAwardsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAndAwardsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UsersAndAwardsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersAndAwardsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UsersAndAwardsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAndAwardsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAndAwardsDb]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 07.07.2021 21:57:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[IdAward] [uniqueidentifier] NOT NULL,
	[Tittle] [varchar](50) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[IdAward] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.07.2021 21:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAward]    Script Date: 07.07.2021 21:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAward](
	[IdUser] [uniqueidentifier] NOT NULL,
	[IdAward] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 07.07.2021 21:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Roles] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_Award] FOREIGN KEY([IdAward])
REFERENCES [dbo].[Award] ([IdAward])
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_Award]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_User]
GO
USE [master]
GO
